@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" align="center">
    <font size=7>Symptom Cracker</font>
    <p class="lead">Take control of your life.</p>
    <p><a class="btn btn-success btn-lg" href=@Url.Action("Register", "Account")>Start Cracking</a></p>
</div>

<div class="row">

    <div class="BlockElement col-md-4" align="center">
        <span class="glyphicon glyphicon-pencil"></span>
        <h3><strong>Log your condition</strong></h3>
        <p>
            Quickly add or remove symptoms of your illness for your reference. Build a living diary of your symptoms as they appear, as they
            grow, or as they fade over time.
        </p>
    </div>

    <div class="BlockElement col-md-4" align="center">
        <span class="glyphicon glyphicon-retweet"></span>
        <h3><strong>Change your lifestyle</strong></h3>
        <p>
            Decide to do something differently. Whether it be through change in diet, change in routine, or change in attitude,
            attempt to improve your life in small, positive ways.
        </p>
    </div>

    <div class="BlockElement col-md-4" align="center">
        <span class="glyphicon glyphicon-ok"></span>
        <h3><strong>Crack your symptoms</strong></h3>
        <p>
            By taking a results-oriented approach to your illness, you will hopefully find ways to reduce symptoms. A symptom-free life
            will result in a healthier, happier you.
        </p>
    </div>

</div>

<script>
    $(".BlockElement").hide().delay(1200).each(function (index) {
        $(this).delay(1000 * index).fadeIn(800);
    });

    $(".jumbotron").hide().fadeIn(1000);

</script>